 <% 
 console.log('klk')
 %> 
<%- include('template/headerpage') %>
    <body>
        <div class="container">
        <%- include('./template/navbar')  %> 
        <h1>Our tests</h1>
        <div class="card text-center my-nav">
            <div class="card-body">
              <h5 class="card-title">Rapid antigen test</h5>
              <p class="card-text">Selected station: <%= stationselector %> </p>
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-outline-primary">Station 1</button>
                <button type="button" class="btn btn-outline-primary">Station 2</button>
                <button type="button" class="btn btn-outline-primary">Station 3</button>
                <button type="button" class="btn btn-outline-primary">Station 4</button>
              </div>
              <br />
              <a href="/booking/antigen" class="btn btn-primary">Book now</a>
            </div>
          </div>

          <div class="card text-center my-nav">
            <div class="card-body">
              <h5 class="card-title">Normal PCR Test</h5>
              <p class="card-text">Selected station: <%= stationselector %> </p>
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-outline-primary stat1">Station 1</button>
                <button type="button" class="btn btn-outline-primary stat2">Station 2</button>
                <button type="button" class="btn btn-outline-primary stat3">Station 3</button>
                <button type="button" class="btn btn-outline-primary stat4">Station 4</button>
              </div>
              <br />
              <a href="/booking/pcr" class="btn btn-primary">Book now</a>
            </div>
          </div>

          <div class="card text-center my-nav">
            <div class="card-body">
              <h5 class="card-title">Express PCR Test</h5>
              <p class="card-text">Selected station: <%= stationselector %> </p>
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-outline-primary stat1">Station 1</button>
                <button type="button" class="btn btn-outline-primary stat2">Station 2</button>
                <button type="button" class="btn btn-outline-primary stat3">Station 3</button>
                <button type="button" class="btn btn-outline-primary stat4">Station 4</button>
              </div>
              <br />
              <a href="/booking/pcr-express" class="btn btn-primary">Book now</a>
            </div>
          </div>

        </div>
    </body>
    <br />
    <%- include('./template/footer') %>
</html>